/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Override Argon Dashboard defaults with your original colors */

/* Sidebar */
#sidenav-main {
    background-color: #343a40 !important;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link .nav-link-text {
    color: #adb5bd !important;
}
.navbar-nav .nav-link.active {
    background-color: #495057 !important;
    color: #fff !important;
}

/* Top Navbar */
.navbar-top {
    background-color: #6c757d !important;
}
.navbar-top .navbar-nav .nav-link,
.navbar-top .navbar-nav span {
    color: #fff !important;
}

/* Cards (optional based on your dashboard view) */
.card.bg-danger {
    background-color: #dc3545 !important;
}
.card.bg-success {
    background-color: #28a745 !important;
}
.background-color{
background: #515178;
background: linear-gradient(90deg, rgba(81, 81, 120, 1) 0%, rgba(32, 32, 122, 1) 19%, rgba(32, 116, 135, 1) 100%);
}